/*
colors:
mist: #90AFC5
stone: #336B87
shadow: #2A3132
Autumn foliage: #763626
 */
h1{
  text-align: center;
  padding-top: 5%;
  color: #2A3132;
}

form{
  padding-left: 25%;
  width: 50%;

}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.buttons{
  background-color: #90AFC5;
  color: white;
  border-style: hidden;
  transition-duration: 0.1s;
  text-align: center;
  font-size: 20px;
  width:250px;
  height: 150px;
  box-shadow: -.2rem 0 .4rem #112;
}

#customerBack, #submitUser{
  background-color: #90AFC5;
  color: white;
  border-style: hidden;
  transition-duration: 0.1s;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 60px;
  border-radius: 50px;
  box-shadow: none !important;
}

#sHolder{
  display: inline-flex ;
  padding-left: 85%;
}


#submitVehicle{
  background-color: #90AFC5;
  color: white;
  border-style: hidden;
  transition-duration: 0.1s;
  text-align: center;
  font-size: 20px;
  width: 100px;
  height: 60px;
  border-radius: 50px;
  box-shadow: none !important;
}

.customerBackHolder{
  position: relative;
  padding-top: 5%;
}

#paymentPage{
  padding-left: 40%;
}

.inputHolder{
  padding-top: 10%;
}

select{
  width: 27%;
}

#selectHolder{
  display: block;
  padding-bottom: 2%;
}

#selectHolder select{
  width:100%;
}

.buttonHolder{
  padding-top: 5%;
  display: grid;
  justify-content: center;
  width:800px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 10px;
}

.buttons:hover{
  background-color: #2A3132;
}
#submitVehicle:hover{
  background-color: #2A3132;
}

html, body{
  background: rgb(235,240,245);
  font-family: verdana;
  height: 100%;
}

.table-refresh{
  min-width: 50%;
  max-width: 70%;
  padding-left: 15%;
  font-size: 14px;
}

.table-refresh__table{
  border-collapse: collapse;
  width:100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.table-refresh__table thead tr{
  background: #336B87;
  color: white;
}
.table-refresh__table th,
.table-refresh__table td{
  text-align: left;
  padding: 9px 18px;
}
